extends base.pug

block title 
    title About us! 

block script 

block style 
    style 
        include ../static/style.css
        include ../static/aboutStyle.css

block content 
    
    h1 About us 
    section#aboutSection 

        p Puneet Dance Academy (puneetdanceacademy.com) is a fictional organization and website created by me (Puneet) to test and practice my Frontend (PUG, CSS and JavaScript) as well as Backend (Nodejs and mongoDB) skills. All the data present on this site is fictional and does not corresponds to any actual entity. If you like my work and want to work with me then simply reach out to me through my gitHub, I will reply to you as soon as I can ;)
        br
        br
        p - Puneet Kumar Sharma 
        p GitHub Id: https://github.com/PuneetKumarSharma931