
extends base.pug

block title 
    title Classes 

block script  

block style 
    style 
        include ../static/style.css
        include ../static/classesStyle.css
    

block content 
    
    h1 Class Details 

    section#classDetails 

        div.classesCardContainer

            div.classCard
                h2 Monday 
                div.classCardContent
                    h3 Yoga Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 9:00AM - 11:00AM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Monday 
                div.classCardContent
                    h3 Dance Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 1:00PM - 3:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Monday 
                div.classCardContent
                    h3 Personal Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 5:00PM - 7:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Tuesday 
                div.classCardContent
                    h3 Dance Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 9:00AM - 11:00AM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Tuesday 
                div.classCardContent
                    h3 Yoga Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 1:00PM - 3:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Tuesday 
                div.classCardContent
                    h3 Personal Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 5:00PM - 7:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Wednesday 
                div.classCardContent
                    h3 Personal Classes  
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 9:00AM - 11:00AM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Wednesday 
                div.classCardContent
                    h3 Dance Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 1:00PM - 3:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Wednesday 
                div.classCardContent
                    h3 Yoga Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 5:00PM - 7:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Thursday  
                div.classCardContent
                    h3 Personal Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 8:00AM - 11:00AM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Thursday  
                div.classCardContent
                    h3 Yoga Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 1:00PM - 4:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Thursday  
                div.classCardContent
                    h3 Dance Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 5:00PM - 8:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Friday 
                div.classCardContent
                    h3 Yoga Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 10:00AM - 1:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Friday 
                div.classCardContent
                    h3 Dance Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 1:00PM - 4:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Friday 
                div.classCardContent
                    h3 Personal Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 5:00PM - 7:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Saturday 
                div.classCardContent
                    h3 Dance Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 9:00AM - 11:00AM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Saturday 
                div.classCardContent
                    h3 Yoga Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 1:00PM - 3:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India

            div.classCard
                h2 Saturday 
                div.classCardContent
                    h3 Personal Classes 
                    span 
                        img(src="/static/icons/time.svg", alt="timing")
                        | 5:00PM - 7:00PM
                    span 
                        img(src="/static/icons/location.svg", alt="location icon") 
                        | Delhi, India
                         
                        