@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

h1 {

    text-align: center !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    margin: 40px auto !important;
}

#bookSubmit {

    width: 105px;
    margin: 30px auto;
    padding: 11px 0px;
    border: 2px solid black;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 55px;
    color: white;
    background-color: limegreen;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0px 0px 0px 0px green;
    transition: all 250ms;
}

#bookSubmit:hover {

    transform: scale(1.1);
    background-color: darkgreen;
    box-shadow: inset 105px 0px 0px 0px green;
}

