@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

h1 {
    text-align: center;
    margin: 20px 0px;
    margin-top: 40px !important;
    font-family: 'Playfair Display', serif;
}

.myForm {

    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.label {

    margin-bottom: -10px;
}

.myInput {
    padding: 9px;
    margin: 15px 0px;
    font-size: 17px;
    border: 3px solid black;
    border-radius: 9px;
    box-shadow: 2px 2px 7px 0px black;
    outline: none;
}

#submit {

    width: 100px;
    margin: 18px auto;
    padding: 11px 0px;
    border: 2px solid black;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 55px;
    color: white;
    background-color: limegreen;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0px 0px 0px 0px green;
    transition: all 250ms;
}

#submit:hover {

    transform: scale(1.1);
    background-color: darkgreen;
    box-shadow: inset 105px 0px 0px 0px green;
}





